<html>
  <body>
    {{if .Success}}
      <div>
        <h2>Results</h2>
        
        {{if .Format}}
          {{range .Tracks}}
            <div>
              
              <p>Artists: {{range .Artists}} {{.Name}} {{end}}</p>
              <p>Album: {{.Album.Name}}</p>
              <p>Song:<a href={{.PreviewURL}}>{{.Name}}</a></p>
              <p>ID: {{.ID}}</p>
              <br />
            </div>
          {{end}}
        {{else}}
          {{range .Tracks}}
            <pre>
{
  artists = {{range .Artists}} "{{.Name}}" {{end}}
  album = "{{.Album.Name}}"
  >song = "{{.Name}}"
  track_id = "{{.ID}}"
  preview_url = "{{.PreviewURL}}"
}

            </pre>
          {{end}}
        {{end}}
          
      </div>
    {{else}}
      <h2>Search for a Song</h2>
      <form method="POST">
        <label>Song Title</label>
        <input type="text" name="track"><br />
        <label>Format</label>
        <select id="format" name="format">
          <option value="true">Pretty</option>
          <option vlaue="false">JSON</option>
        </select>
        <input type="submit">
      </form>
    {{end}}
    
  </body>
</html>


